<!--=== Content Part ===-->
<div class="container content">
    <div class="row">

        <!-- Begin Content -->
        <div class="col-md-12">
            <div class="heading heading-v1 margin-bottom-40">
                <h2>Heat Maps</h2>
                <p>The Sustainable Coop fund will help build and expand cooperatives selected by our members. The heat-maps show the aggregated investment of credit unions, confirming where and how they have positively affected society. It demonstrates the areas they invest their time, money and outreach efforts, helping to visually relay the real impact they are making in their communities. </p>
            </div>


            <!-- Main Map -->
            <div class="headline">
                <h3>North America</h3>
            </div>
            <div id="mapAll" class="map largeMap margin-bottom-50">
            </div>
            <!-- End Basic Map -->


            <!-- Basic Map -->
            <div class="headline">
                <h3>Vancouver and Lower Mainland</h3>
            </div>
            <div id="map" class="map margin-bottom-50">
            </div>
            <!-- End Basic Map -->
            <!-- Basic Map2 -->
            <div class="headline">
                <h3>Indianapolis and Surrounding Areas</h3>
            </div>
            <div id="map2" class="map margin-bottom-50">
            </div>
            <!-- End Basic Map -->
            <!-- Basic Map3 -->
            <div class="headline">
                <h3>Colorado Springs and Surrounding Areas</h3>
            </div>
            <div id="map3" class="map margin-bottom-50">
            </div>
            <!-- End Basic Map -->

        </div>
        <!-- End Content -->
    </div>
</div><!--/container-->
<!--=== End Content Part ===-->


<script type="text/javascript">
    $(document).ready(function () {

        var iconBase = '/assets/img/scf/';

        var mapAll;
        var map;
        var map2;
        var map3;

        var mapOptionsAll = {
            zoom: 4,
            center: new google.maps.LatLng(48.100, -100.800)
        };

        var mapOptions = {
            zoom: 7,
            center: new google.maps.LatLng(49.600, -120.900)
        };

        var mapOptions2 = {
            zoom: 8,
            center: new google.maps.LatLng(39.800, -86.200)
        };

        var mapOptions3 = {
            zoom: 8,
            center: new google.maps.LatLng(39.300, -104.820)
        };

        mapAll = new google.maps.Map(document.getElementById('mapAll'), mapOptionsAll);
        map = new google.maps.Map(document.getElementById('map'), mapOptions);
        map2 = new google.maps.Map(document.getElementById('map2'), mapOptions2);
        map3 = new google.maps.Map(document.getElementById('map3'), mapOptions3);


        var addressesAll=[];
        var addresses1=[]
        var addresses2=[]
        var addresses3=[]

        var array = @Html.Raw(Json.Encode(@ViewBag.canadianContributionLocations));
        for(var i = 0; i < array.length; i++) {
            //Don't add 0,0
            if (!(array[i].Item1==0 && array[i].Item2==0)){
                addresses1[i] = [array[i].Item1,array[i].Item2];
                addressesAll.push([array[i].Item1,array[i].Item2]);
            }
        }

        var array2 = @Html.Raw(Json.Encode(@ViewBag.indianapolisContributionLocations));
        for(var i = 0; i < array2.length; i++) {
            //Don't add 0,0
            if (!(array2[i].Item1==0 && array2[i].Item2==0)){
                addresses2[i] = [array2[i].Item1,array2[i].Item2];
                addressesAll.push([array2[i].Item1,array2[i].Item2]);

            }
        }

        var array3 = @Html.Raw(Json.Encode(@ViewBag.coloradoContributionLocations));
        for(var i = 0; i < array3.length; i++) {
            //Don't add 0,0
            if (!(array3[i].Item1==0 && array3[i].Item2==0)){
                addresses3[i] = [array3[i].Item1,array3[i].Item2];
                addressesAll.push([array3[i].Item1,array3[i].Item2]);
            }
        }


        ///////////////////////////////////////////

        var longLatDataAll = [];

        //Loop through addresses
        for (var i = 0; i < addressesAll.length; i++) {
            longLatDataAll.push(new google.maps.LatLng(addressesAll[i][0], addressesAll[i][1]));
        } //end for

        if(longLatDataAll.length>0){
            var pointArray = new google.maps.MVCArray(longLatDataAll);
            heatmap = new google.maps.visualization.HeatmapLayer({ data: pointArray, radius:20});
            heatmap.setMap(mapAll);
        }

        ///////////////////////////////////////////

        var longLatData = [];

        //Loop through addresses
        for (var i = 0; i < addresses1.length; i++) {
            longLatData.push(new google.maps.LatLng(addresses1[i][0], addresses1[i][1]));
        } //end for

        if(longLatData.length>0){
            var pointArray = new google.maps.MVCArray(longLatData);
            heatmap = new google.maps.visualization.HeatmapLayer({ data: pointArray});
            heatmap.setMap(map);
        }

        ///////////////////////////////////////////
        var longLatData2 = [];

        //Loop through addresses
        for (var i = 0; i < addresses2.length; i++) {

            longLatData2.push(new google.maps.LatLng(addresses2[i][0], addresses2[i][1]));

        } //end for

        if(longLatData2.length>0){
            var pointArray2 = new google.maps.MVCArray(longLatData2);
            heatmap2 = new google.maps.visualization.HeatmapLayer({ data: pointArray2 });
            heatmap2.setMap(map2);
        }


        /////////////////////////////////////////////////////
        var longLatData3 = [];

        //Loop through addresses
        for (var i = 0; i < addresses3.length; i++) {

            longLatData3.push(new google.maps.LatLng(addresses3[i][0], addresses3[i][1]));

        } //end for

        if(longLatData3.length>0){
            var pointArray3 = new google.maps.MVCArray(longLatData3);
            //  alert(pointArray.length);
            heatmap3 = new google.maps.visualization.HeatmapLayer({ data: pointArray3 });
            heatmap3.setMap(map3);
        }



        var infoWindowContent = [];
        var infoWindowContent2 = [];
        var infoWindowContent3 = [];
        var infoWindow = new google.maps.InfoWindow();

        var testList = @Html.Raw(Json.Encode(@ViewBag.canadianDonations));
        for(var i = 0; i < testList.length; i++) {

            //Create Info Window
            var infoString = "<div class='scrollFix'><h4>" + testList[i].Title+"</h3><label>"+testList[i].DonatingCreditUnion.Name+"</label><br/>";
            if(testList[i].Dollars >0){
                infoString = infoString + "<label>Contributed $"+testList[i].Dollars+"</label><br/>";
            }
            if (testList[i].OnClockHours){
                infoString = infoString + "<label>Contributed Hours: </label>"+testList[i].OnClockHours+"<br/>";
            }
            if(testList[i].OtherContributionsValue){
                infoString = infoString + "<label>Other Contributions: </label>"+testList[i].OtherContributionsValue;
            }
            infoString = infoString +"</div>";

            infoWindowContent[i]=infoString;


            marker = new google.maps.Marker({
                position: new google.maps.LatLng(testList[i].Latitude, testList[i].Longitude),
                map: map,
                title: testList[i].title,
                icon: iconBase + 'pin.png'
            });

            google.maps.event.addListener(marker, 'click', (function(marker,i){
                return function(){

                    infoWindow.setContent(infoWindowContent[i]);
                    infoWindow.open(map, marker);
                    map.setCenter(marker.getPosition());
                }
            })(marker,i));
        }



        var testList2 = @Html.Raw(Json.Encode(@ViewBag.indianapolisDonations));
        for(var i = 0; i < testList2.length; i++) {

            //Create Info Window
            var infoString = "<div class='scrollFix'><h4>" + testList2[i].Title+"</h3><label>"+testList2[i].DonatingCreditUnion.Name+"</label><br/>";
            if(testList2[i].Dollars >0){
                infoString = infoString + "<label>Contributed $"+testList2[i].Dollars+"</label><br/>";
            }
            if (testList2[i].OnClockHours){
                infoString = infoString + "<label>Contributed Hours: </label>"+testList2[i].OnClockHours+"<br/>";
            }
            if(testList2[i].OtherContributionsValue){
                infoString = infoString + "<label>Other Contributions: </label>"+testList2[i].OtherContributionsValue;
            }
            infoString = infoString +"</div>";

            infoWindowContent2[i]=infoString;


            marker = new google.maps.Marker({
                position: new google.maps.LatLng(testList2[i].Latitude, testList2[i].Longitude),
                map: map2,
                title: testList2[i].title,
                icon: iconBase + 'pin.png'
            });

            google.maps.event.addListener(marker, 'click', (function(marker,i){
                return function(){

                    infoWindow.setContent(infoWindowContent2[i]);
                    infoWindow.open(map2, marker);
                    map2.setCenter(marker.getPosition());
                }
            })(marker,i));
        }



        var testList3 = @Html.Raw(Json.Encode(@ViewBag.coloradoDonations));
        for(var i = 0; i < testList3.length; i++) {

            //Create Info Window
            var infoString = "<div class='scrollFix'><h4>" + testList3[i].Title+"</h3><label>"+testList3[i].DonatingCreditUnion.Name+"</label><br/>";
            if(testList3[i].Dollars >0){
                infoString = infoString + "<label>Contributed $"+testList3[i].Dollars+"</label><br/>";
            }
            if (testList3[i].OnClockHours){
                infoString = infoString + "<label>Contributed Hours: "+testList3[i].OnClockHours+"</label><br/>";
            }
            if(testList3[i].OtherContributionsValue){
                infoString = infoString + "<label>Other Contributions: "+testList3[i].OtherContributionsValue + "</label>";
            }
            infoString = infoString +"</div>";

            infoWindowContent3[i]=infoString;


            marker = new google.maps.Marker({
                position: new google.maps.LatLng(testList3[i].Latitude, testList3[i].Longitude),
                map: map3,
                title: testList3[i].title,
                icon: iconBase + 'pin.png'
            });

            google.maps.event.addListener(marker, 'click', (function(marker,i){
                return function(){

                    infoWindow.setContent(infoWindowContent3[i]);
                    infoWindow.open(map3, marker);
                    map3.setCenter(marker.getPosition());
                }
            })(marker,i));
        }



    });

</script>

 
        


